
/* no notation in from applies it directly to the html element */
body {
  margin: 0;
  padding: 0;
}

/* hash notation in from applies it to the element by id */
#map {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* dot notation in from applies it to the element by class name */
.bicycle-marker {
  background-image: url('https://st2.depositphotos.com/1011935/7112/v/950/depositphotos_71123083-stock-illustration-young-bicycle-rider-man-with.jpg');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  /* property called: 'cursor: pointer;' allows control over cursor appearance over element */
}

.map-overlay {
  z-index: 10;
  position: absolute;
  left: 0;
  padding: 10px;
  cursor: pointer;  
}

